.header {
    display: flex;
    justify-content: space-between;
    // margin: 0 10%;
    padding: 20px 0;
    font-family: circular std;

    .nav .nav-ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 10px;
        }

        .dropdown {
            position: absolute;
            list-style: none;
        }
    }

    .btn {
        background-color: #DF6951;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 185px;
        height: 50px;
        padding: 10px;
        border-radius: 8px;
    }
}